@charset "utf-8";
/* CSS Document */

html {
		height: 100%;	
}

body { 
		background-color: white;
		width: auto; 
		min-width: 600px;
		min-height: 100%;
		position: relative;
	}

.content {
	max-width: 960px;
	margin: 0 auto;
	background: white;
	padding: 10px;	
	}

#pageFooter {
	position: relative;
	right: 0;
	bottom: -406px;
	left: 7px;
	background-color:  #f2f2f2;
	border-top: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc; 
	text-align: center;
	clear: both;
	}

#pageFooter p {
	font-size: 14px;
}	
	
h1 {
	font-family: "Lato", serif;
	color: black;
	font-size: 36px;
	}
	
h2 {
	font-family: "Lato", serif;
	color: black;
	font-size: 22px;
	}

h3 {
	font-family: "Lato", serif;
	color: black;
	font-size: 16px;
   }	

img {
	width: 100%;
	height: auto;
	/* Magic! */
	max-width: 50vw;
	}	

p {
	margin: auto;
	font-size: 24px;
	color: black;
	}

#nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
	  background-color: #f2f2f2;
	  border-top: 1px solid #ccc; 
      border-right: 1px solid #ccc; 
	  border-bottom: 1px solid #ccc;
	  border-left: 1px solid #ccc; 
	  }
	  
#nav li {
      float: left; 
	  list-style: none;
	  font-family: "Lato", serif;
	  font-size: 24px;
	  }
	  
#nav li a {
      display: inline-block;
      padding: 8px 15px;
	  text-decoration: none;
	  text-align: center;
      font-weight: bold;
	  color: #069;
	  width: 225px;
      /* border-right: 1px solid #ccc;  */
	  }
	  
   #nav li a:hover {
      color: #c00;
      background-color: #fff; 
	  }

#logo {
	position: absolute;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
	padding-top: 20px;
}

*/

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}